
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px; /* Añadir espacio alrededor del contenedor */
    margin-top: -26px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .img {
    transition: 0.4s;
    margin-top: 5vw; /* Utilizar unidades relativas */
  }
  
  .img:hover {
    border-radius: 18px;
    opacity: 0.8;
  }
  
  